@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(46, 40, 40);
    font-family: Poppins, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background: rgb(82, 72, 72);
    height: 350px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
}

form{
    margin-top: -20px;
}

.change_pass{
    position: relative;
    margin: 20px;

}

.change_pass label{
    position: absolute;
    top: 50%;
    left: 5px;
    padding: 0 5px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: 0.3s;
}

.change_pass input{
    height: 40px;
    width: 220px;
    outline: none;
    padding: 0 10px;
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}

.change_pass input:focus~label,
.change_pass input:valid~label{
    top: 0;
    background: rgb(82, 72, 72);
    color: white;
    font-size: 13px;
}

.change_pass input:focus{
    outline: none;
    border: 1px solid white; 

}

.changeBtn{
    height: 30px;
    width: 150px;
    font-size: 14px;
    cursor: pointer;
    background: rgb(129, 115, 115);
    color: white;
    outline: none;
    border: 1px solid gray;
    border-radius: 10px;
    transition: 0.5s;
}

.changeBtn:hover{
    background: rgb(102, 91, 91);
}

.alert_current{
    text-align: center;
    background: salmon;
    border: 1px solid brown;
    padding: 5px 0px 5px 0px;
    border-radius: 10px;
    display: none;
}

.alert_invalid{
    text-align: center;
    background: salmon;
    border: 1px solid brown;
    width: 270px;
    border-radius: 10px;
    display: none;
    position: relative;
}

.submit{
    display: none;
}