@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    background: rgb(46, 40, 40);
    font-family: Poppins, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    text-align: center;
    background: rgb(82, 72, 72);
    height: 200px;
    width: 560px;
    color: white;
    border-radius: 5px;
}

.forgot{
    margin-top: 30px;
}

.forgot input{
    width: 250px;
    height: 20px;
    background: rgb(124, 111, 111);
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 5px;
    color: white;
}

.forgot input:focus{
    border: 1px solid white;
    outline: none;
}

.btnsubmit{
    margin-top: 10px;
    height: 25px;
    width: 60px;
    background: rgb(129, 115, 115);
    color: white;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}

.btnsubmit:hover{
    background: rgb(102, 91, 91);
}

.error{
    position: absolute;
    background: rgb(82, 72, 72);
    height: 150px;
    width: 500px;
    text-align: center;
    transform: translate(0%)scale(0.1);
    transition: 0.5s;
    visibility: hidden;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.error-open{
    visibility: visible;
    transform: translate(0%)scale(1);
}

.error-container{
    filter: blur(20px);
    pointer-events: none;
}

.ok{
    margin-top: 15px;
    height: 29px;
    width: 65px;
    border-radius: 5px;
    border: 1px solid gray;
    background: rgb(129, 115, 115);
    color: white;
    cursor: pointer 
}

.ok:hover{
    background: rgb(102, 91, 91);
}

.submit{
    display: none;
}